# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/1337/
/broadcast/*/1/
/broadcast/**/dry-run/

# Ignores deployments
/deployments/test/1337/*

# Dotenv file
.env
